<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
   <div id="error_explanation">
    <h2><%= @task.errors.count %>件のエラーがあります。</h2>
    <ul>

    <% @task.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <%= form.label :名前 %>
  <%= form.text_field :title %>

  <%= form.label :詳細 %>
  <%= form.text_field :content %>

  <%= form.label :終了期限 %>
  <%= form.date_field :deadline_on %>
  
  <%= form.label :ステータス %>
  <%= form.select :status, Task.statuses.keys.to_a,{prompt: "選択して下さい"} %>

  <%= form.label :優先順位 %>
  <%= form.select :priority, Task.priorities.keys, {prompt: "選択して下さい"} %>

  <%= form.label :ラベル %>
  <%= form.collection_check_boxes(:label_ids, Label.all, :id, :name) %>
 

  <%= form.submit %>
<% end %>